    <div class="footer">
        <div class="container">
            <a class="footer--link" href="/">Home</a>
            <p class="footer--text">Copyrights all rights Master Chef</p>
        </div>
    </div>
    </body>
</html>