<% include ../../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Create a new receipe</h1>
        <div style="width:30%; margin: 25px auto;">
            <form action="/sports" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="title" name="title">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="picture" name="picture">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="quantity" name="quantity">
                </div>
                <label>Ingredients</label>
                <div class="form-group">
                    <textarea class="form-control" placeholder="ingredients" name="ingredients" rows="3"></textarea>
                </div>
                <label>Step 1</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">img</span>
                    <input type="text" class="form-control" placeholder="Troisieme" name="classement[troisieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">title</span>
                    <input type="text" class="form-control" placeholder="Quatrieme" name="classement[quatrieme]">
                    </div>
                </div>
                <label>Step 2</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">img</span>
                    <input type="text" class="form-control" placeholder="Troisieme" name="classement[troisieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">title</span>
                    <input type="text" class="form-control" placeholder="Quatrieme" name="classement[quatrieme]">
                    </div>
                </div>
                <label>Step 3</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">img</span>
                    <input type="text" class="form-control" placeholder="Troisieme" name="classement[troisieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">title</span>
                    <input type="text" class="form-control" placeholder="Quatrieme" name="classement[quatrieme]">
                    </div>
                </div>
                <label>Step 4</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">img</span>
                    <input type="text" class="form-control" placeholder="Troisieme" name="classement[troisieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">title</span>
                    <input type="text" class="form-control" placeholder="Quatrieme" name="classement[quatrieme]">
                    </div>
                </div>
                <label>Step 5</label>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">img</span>
                    <input type="text" class="form-control" placeholder="Troisieme" name="classement[troisieme]">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">title</span>
                    <input type="text" class="form-control" placeholder="Quatrieme" name="classement[quatrieme]">
                    </div>
                </div>
            </form>
            <a href="/" style="text-align:center;">Back</a>
        </div>
    </div>
</div>

<% include ../../partials/footer %>